<p><%= notice %><%= alert %></p>
<% if user_signed_in? %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Googleでサインアップ", user_google_omniauth_authorize_path %>
  <%= link_to "facebookでサインアップ", user_facebook_omniauth_authorize_path %>
<% end %>
